@import "~styles/variables"  // '~' informs sass-loader that is not relative path
*
  	box-sizing: border-box

.counter
	height: 25%

.timer
	height: auto
	font-size: 1.2rem
	width: auto
	background-color: #fff
	display: flex
	flex-direction: column
	flex-shrink: 1
	p
		text-align: center
	p:nth-child(1)
		text-transform: uppercase
		font-size: 1.3rem
		font-weight: 600
	p:nth-child(2)
		color: #4c4c4c
		font-size: 20px
		font-weight: 500
	.result
		width: 100%
		margin-top: 2rem
		display: flex
		justify-content: center
		align-items: center
		.result--partial
			flex-direction: column
			align-items: center
			margin-right: 10px
			&:nth-child(4)
				margin-right: 0
			p.res-circle
				font-size: 2rem
				font-weight: 600
				height: 4rem
				width: 4rem
				border-radius: 50%
				background-color: #f5f5f5
				border: 1px solid #eeeeee
			p.res-desc
				font-size: 14px
				color: #000000
				margin-top: 20px