@import '../variables.sass'
$item-height: 100px
$cell-width: 8rem
.cart__item
	display: flex
	flex-direction: row
	align-items: center
	width: 100%
	padding: 15px 10px
	border-bottom: 2px solid #eee
	&:last-of-type
		border-bottom: none

	h3
		font-size: 1.2rem
		font-weight: 600
		width: 60%
		flex-grow: 1
		padding: 10px 0
		display: flex
		align-self: flex-start
	.remove-cart
		height: 30px
		width: 30px
		flex-shrink: 0
		border-radius: 25%
		display: flex
		align-items: center
		justify-content: center
		&:hover
			cursor: pointer
			background-color: $red
	&-picture
		height: $item-height
		width: 10%
		max-width: $item-height
		align-self: center
		background-color: #eee
		margin-right: 10px
		display: flex
		flex-direction: column
		justify-content: space-between
		padding: 10px
		flex-shrink: 0
		&:hover
			cursor: pointer
			opacity: 0.8
			div
				display: flex				
		div:nth-child(1)
			width: 50px
			height: 50px
			border-radius: 50%
			border: 2px solid #fefefe
			margin: 5px 0 0 5px
			color: #000000
			font-size: 22px
			align-items: center
			justify-content: center
				
		&__add-to-cart
			border: 2px solid $blue
			color: $blue
			font-weight: 600
			text-transform: uppercase
			border-radius: 10px
			padding: 5px 10px
			align-items: center
			justify-content: center
			
		div
			display: none
			transition: all .10s ease-in-out
			user-select: none
			&:hover
				color: $white
				background-color: $blue
				border: 2px solid $blue
			&:active
				background-color: $red
				border: 2px solid $red
				color: $white
	&__input-wrapper
		width: $cell-width
		display: flex
		flex-direction: column
		align-items: center
		height: $item-height
		border-right: 2px solid #eee
		p:nth-child(1)
			font-size: 1.1rem
			font-weight: 600
		.buttons
			display: flex
			align-items: center
			justify-content: center
			button
				outline: none
				width: 30px
				height: 30px
				border: 1px solid $white
				border-radius: 50%
				font-size: 16px
				transition: all 0.1s ease-in
				&:hover
					cursor: pointer
					box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.3)
					transform: scale(1.03)
				&:active
					box-shadow: none
					transform: scale(1)
				&:nth-child(1)
					margin-right: 10px
					&:hover
						background-color: $green
				&:nth-child(2)
					&:hover
						background-color: $red
	&__amount
		height: 40px
		width: 40px
		margin: 10px 0
		border: 2px solid #ddd
		border-radius: 5px
		
	&__item
		padding: 10px
		min-width: $cell-width
		flex-grow: 1
		border-bottom: 2px dotted #eee
	&__price,
	&__value
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		width: 8%
		min-width: $cell-width
		height: $item-height
		flex: 1
		border-right: 2px solid #eee
		p
			font-size: 1.1rem
	&__value
		border-right: none
		p
			font-size: 1.2rem
			color: $blue
			font-weight: 600
.remove-cart
	align-self: flex-start
	background-color: #eee

@media screen and (max-width: 1000px)
	.cart__item
		&-picture
			display: none

@media screen and (max-width: 600px)
	$item-height: 80px
	$cell-width: 5rem
	.cart__item
		flex-shrink: 1
	
		width: 100%
		padding: 5px
		h3
			font-size: 1rem 
		.remove-cart
			height: 20px
			width: 20px
			border-radius: 10%
			&:hover, &:active
				cursor: pointer
				background-color: $red
		&__price,
		&__value
			min-width: 80px
			padding: 3px
			p
				font-size: 1rem
		&__input-wrapper
			.buttons
				button
					width: 24px
					height: 24px
					font-size: 14px
					border-radius: 10%