.dropdown
	min-width: 50px
	border: none
	background-color: transparentize
	outline: none
	background-color: #f3f3f3
	margin-right: 20px
	font-size: 18px
	color: #484848
	font-weight: 600
	&:hover,
	&:focus
		cursor: pointer

option:hover,
option:focus
	cursor: pointer