.cards 
	width: 100%
	display: flex
	padding: 50px 60px
	justify-content: space-between
	background-color: #fff
	.card
		display: flex
		justify-content: center
		flex-direction: column
		padding-left: 40px
		height: 320px
		width: calc(98%/3)
		font-size: 24px
		color: white
		&:hover
			cursor: pointer
			opacity: 0.8
		&__title
			text-transform: uppercase
			b
				font-weight: 600
		&__cta
			font-size: 16px
			text-decoration: underline
			text-transform: uppercase
			margin-top: 20px
			cursor: pointer
			user-select: none
.wrapper--mobile
	.cards
		padding: 10px 20px 20px 20px
		flex-wrap: wrap
		.card
			height: 140px
			width: 100%
			padding-left: 00px
			font-size: 18px
			margin-bottom: 10px
			align-items: center

			&__cta
				display: flex
				justify-content: center
				font-size: 16px
				text-decoration: none
				text-transform: none
				padding: 5px 10px
				border: 1px solid #fff
				max-width: 180px
				border-radius: 45px