.categories-wrapper
	width: 200px
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	button
		font-size: 18px
		width: auto
		background-color: transparent
		border: none
		outline: none
		cursor: pointer