.footer-main__column--links
	display: flex
	flex-direction: column
	width: 16.666%
	p 
		font-size: 16px
		font-weight: 600
		margin-bottom: 10px
	a
		font-size: 14px
		text-decoration: none
		color: #3d3d3d
		padding: 5px 0
		&:hover
			text-decoration: underline

@media screen and (max-width: 1200px)
	.footer-main__column--links
		width: 33.333%
		flex-wrap: wrap
		margin-bottom: 20px
		padding-left: 10px
		p 
			font-size: 18px
			margin-bottom: 10px
		a
			font-size: 16px
			text-decoration: none

@media screen and (max-width: 800px)
	.footer-main__column--links
		display: none
	.footer-main__column--links.A
		display: flex