.footer-main__column--logo
	display: flex
	flex-direction: column
	width: 16.666%
	padding-left: 10px
	&__big
		font-size: 18px
		margin-bottom: 10px
	&__small
		font-size: 12px
		margin-bottom: 4px
		color: #7a7a7a